In [1]:
from sklearn.svm import SVC 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler
import pandas as pd
from sklearn.metrics import plot_confusion_matrix
import matplotlib.pyplot as plt

In [3]:
dataset=pd.read_csv('artificial characters.csv')
dataset.head()

   V1  V2  V3  V4  V5     V6    V7  Class
0   0   0   0   0  20  20.00  46.1      1
1   1  19   0  19   8   8.00  46.1      1
2   2   0  20  19   8  22.47  46.1      1
3   3   0  20   8  42  23.41  46.1      1
4   4  19   8   8  42  35.74  46.1      1

In [5]:
dataset.describe()

,V1,V2,V3,V4,V5,V6,V7,Class
count,10218.000000,10218.000000,10218.000000,10218.000000,10218.000000,10218.000000,10218.000000,10218.000000
mean,2.222744,6.061460,15.246036,9.341554,21.029360,15.377823,40.463523,5.116853
std,1.719632,8.881774,14.178974,9.730991,13.100119,7.795728,11.124438,2.836073
min,0.000000,0.000000,0.000000,0.000000,-2.000000,1.000000,13.890000,1.000000
25%,1.000000,0.000000,0.000000,0.000000,10.000000,9.000000,32.570000,3.000000
50%,2.000000,0.000000,13.000000,7.000000,20.000000,14.000000,40.220000,5.000000
75%,3.000000,12.000000,24.000000,17.000000,30.000000,20.620000,48.100000,8.000000
max,7.000000,48.000000,63.000000,50.000000,63.000000,50.700000,76.220000,10.000000

In [6]:
X = dataset.drop(columns='Class', axis=1)
Y=dataset['Class']

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,random_state=1, test_size=0.2)
sc_X = StandardScaler()
X_trainscaled=sc_X.fit_transform(X_train)
X_testscaled=sc_X.transform(X_test)

In [20]:
clf1 = SVC(kernel='linear').fit(X_trainscaled, y_train)
y_pred=clf1.predict(X_testscaled)
print(clf1.score(X_testscaled, y_test))

0.4349315068493151

In [26]:
clf2 = SVC(kernel='poly', degree=3).fit(X_trainscaled, y_train)
y_pred=clf2.predict(X_testscaled)
print(clf2.score(X_testscaled, y_test))

0.5787671232876712

In [23]:
clf3 = SVC(kernel='poly', degree=5).fit(X_trainscaled, y_train)
y_pred=clf3.predict(X_testscaled)
print(clf3.score(X_testscaled, y_test))

0.5313111545988258

In [27]:
clf4 = SVC(kernel='poly', degree=2).fit(X_trainscaled, y_train)
y_pred=clf4.predict(X_testscaled)
print(clf4.score(X_testscaled, y_test))

0.5557729941291585

In [34]:
clf5 = SVC(kernel='rbf',gamma='scale').fit(X_trainscaled, y_train)
y_pred=clf5.predict(X_testscaled)
print(clf5.score(X_testscaled, y_test))

0.6262230919765166

In [33]:
clf6 = SVC(kernel='rbf', gamma='auto').fit(X_trainscaled, y_train)
y_pred=clf6.predict(X_testscaled)
print(clf6.score(X_testscaled, y_test))

0.6262230919765166

In [32]:
clf7 = SVC(kernel='sigmoid').fit(X_trainscaled, y_train)
y_pred=clf7.predict(X_testscaled)
print(clf7.score(X_testscaled, y_test))

0.1834637964774951

In [36]:
clf8 = SVC(C=5, kernel='rbf', gamma='auto').fit(X_trainscaled, y_train)
y_pred=clf8.predict(X_testscaled)
print(clf8.score(X_testscaled, y_test))

0.6335616438356164

In [37]:
clf9 = SVC(C=10, kernel='rbf', gamma='auto').fit(X_trainscaled, y_train)
y_pred=clf9.predict(X_testscaled)
print(clf9.score(X_testscaled, y_test))

0.6545988258317026

In [39]:
clf10 = SVC(C=30, kernel='rbf', gamma='auto').fit(X_trainscaled, y_train)
y_pred=clf10.predict(X_testscaled)
print(clf10.score(X_testscaled, y_test))

0.6805283757338552

In [40]:
clf11 = SVC(C=100, kernel='rbf', gamma='auto').fit(X_trainscaled, y_train)
y_pred=clf11.predict(X_testscaled)
print(clf11.score(X_testscaled, y_test))

0.6922700587084148